.lines{
	border-width:0px;
	border-bottom-width:1px;
	border-color:#BDD2FF;
	border-style:dashed;
	padding-left:10px;
}
.last_lines{
	border-bottom-width:0px;
}
.hover_lines{
	background-color:#ffffdd; 
}

.inner_title,.inner_footer{
	width:500px;
	margin-left:25px;
}

.inner_title{
	margin-top:10px;
	border-width:1px;
	border-bottom-width:0px;
	border-style:solid;
	border-color:#CCCCCC;
	background-color:#EEEEEE;
}

.operation{
	margin-right:10px;
}