.outer {
	width:1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top:0px;
	padding-bottom:40px;
	border-width:1px;
	border-style:solid;
	border-color:#c3e4f8;
}

.outer_title {
	text-align:left;
	width:940px;
	margin:30px;
	padding-bottom:5px;
	border-width:0px;
	border-bottom-width:1px;
	border-style:solid;
	border-color:#ddd;
}

.outer_about {
	text-align:left;
	width:960px;
	margin-left: auto;
	margin-right: auto;
	margin-top:0px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:3px;
	border-width:1px;
	border-style:solid;
	border-color:#c3e4f8;
}

.bottom{
	width:1000px;
	height:100px;
	background: url(../img/bottom_back.gif) repeat-x;
	margin:0 auto;
	
	font-size:12px;
	padding-top:40px;
	color:#fff;
}